<div id="userForm">
    <fieldset>
        <legend>Add meg az email címed a jelszó helyreállításához</legend>
        <%= form_tag '/users/send_forgotten', method: :post do %>
            <%= label_tag 'email', 'Email' %>
            <%= text_field 'email', '', placeholder: 'Email' %>

            <%= submit_tag "Bejelentkezés" %>
        <% end %>
    </fieldset>
</div>