/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     margin: 0;
     padding: 0;
 }

 div#menu {
    background-color: #33ffbd;
    padding: 20px;
    border-bottom: 3px solid red;
 }
 
 .mButtonForm {
    display: inline;
 }

 .mButton {
    margin: 5px;
    height: 40px;
 }

 #userName {
    border-color:turquoise;
 }

 #centerForm {
   width: 50%;
   text-align: center;
   margin-top: 3%;
   margin-left: auto;
   margin-right: auto;
}

#centerForm label {
   display: block;
   margin-top: 15px;
   margin-bottom: 15px;
}

#centerForm input {
   display: block;
   height: 50px;
   margin-top: 15px;
   margin-bottom: 15px;
   margin-left: auto;
   margin-right: auto;
}