<fieldset id="imageFieldset">
    <legend>Keresés</legend>
</fieldset>

<fieldset id="imageFieldset">
    <legend>Képek</legend>

    <% @images.each do |image| %>
        <div id="imageDiv">
            <a href="<%= image_path(image.id) %>">
                <%= image_tag download_image_path(image.id) %>
            </a>
        </div>
    <% end %>
    <div style="margin: 15px;"><%= will_paginate  @images %></div>
</fieldset>