<fieldset id="imageFieldset">
    <legend>Képek</legend>
    <% @images.each do |image| %>
        <div id="imageDiv">
            <a href="<%= image_path(image.id) %>">
                <%= image_tag download_image_path(image.id) %>
            </a>
        </div>
    <% end %>
</fieldset>