<div id="centerForm">
    <fieldset>
        <legend>Kép feltöltése</legend>

        <%= form_tag(upload_images_path, :accept => 'image', method: :post, multipart: true) do %>
            <%= label_tag 'Kép' %>
            <%= file_field_tag :image %>
            <%= submit_tag 'Feltöltés' %>
        <% end %>

    </fieldset>
</div>
